{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container card-panel">
    {% for container in object_list %}
    <div class="col-lg-4 text-left">
        <div class="user-container panel panel-default">
            <div class="panel-heading truncate">
                <div class="col-lg-10">
                {{ container.title }}
                </div>
                <div class="text-center pull-right col-lg-2">
                    <a href="">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a href="">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
            <div class="panel-body truncate" style="height:50px; font-size:10.5pt;">
                {{ container.description }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pull-bottom-right">
    <a class="btn btn-default btn-fab">
        <i class="material-icons">add_circle</i>
    </a>
</div>
{% endblock content %}
