{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container card-panel">
    {% for container in object_list %}
    <div class="col-lg-4 text-left">
        <div class="user-container panel panel-default">
            <div class="panel-heading truncate">
                <div class="col-lg-10">
                {{ container.title|title }}
                </div>
                <div class="text-center pull-right col-lg-2">
                    <a href="{% url 'client:editor' container.pk %}">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#delete_modal-{{ container.id }}">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
            <div class="panel-body truncate" style="height:50px; font-size:10.5pt;">
                {{ container.description|default:"No description supplied." }}
            </div>
        </div>
    </div>
    <div class="modal" id="delete_modal-{{ container.id }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Delete Container "{{ container.title }}"</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this container?</p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'client:delete_container' container.pk %}" class="btn btn-warning pull-left">Delete</a>
            <a href="javascript:void(0);" class="btn btn-default pull-left" data-dismiss="modal">Cancel</a>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="well bs-component col-lg-6 col-centered text-center">
        You have no Containers.<br>
        Create one by clicking on the button bellow.
    </div>
    {% endfor %}
</div>
<div class="pull-bottom-right">
    <a class="btn btn-default btn-fab" href="{% url 'client:create_container'%}">
        <i class="material-icons">add_circle</i>
    </a>
</div>

{% endblock content %}
