{% extends 'client/new.html' %}

{% block page-title %}
{% include 'includes/title.html' with text='Python Lend' %}
{% endblock page-title %}

{% block form %}
<div class="col-lg-12">
    {% if not object.running %}
    <div class="alert result-panel well bs-component" id='result-panel'>
        {% if object.stopped %}LAST RESULT{% else %}STATUS: <span class="green">STOPPING CONTAINER</span>{% endif %}
        <button type="button" class="close" id='dismiss-result'>×</button>
        <div class="form-group">
            <div class="col-lg-12 col-centered">
                <pre class="result">{{ result }}</pre>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert result-panel well bs-component" id='result-panel'>
        STATUS: <span class="green">{{ actual_step|upper }}</span>
    </div>
    {% endif %}
</div>
{{ block.super }}
{% endblock form %}

{% block req-check %}
<div class="checkbox col-lg-12">
    <label style="color:#272822;">
        <input type="checkbox" name="keep_requirements" id="id_keep_requirements"> Keep previous requirements
    </label>
</div>
{% endblock req-check %}

{% block btn-bottom-right %}
{% if object.running %}
<div class="row">
    <button type="button" class="btn btn-default btn-fab" id="refresh">
        <i class="material-icons">update</i>
    </button>
</div>
<br>
<div class="row">
    <button type="button" class="btn btn-default btn-fab" id="stop-container">
        <i class="material-icons">stop</i>
    </button>
</div>
{% else %}
<div class="row">
    <button type="button" class="btn btn-default btn-fab" id="result">
        <i class="material-icons">library_books</i>
    </button>
</div>
<br>
<div class="row">
    <button type="button" class="btn btn-default btn-fab" {% if object.stopped %}id="submit"{% else %}disabled{% endif %}>
        <i class="material-icons">send</i>
    </button>
</div>
{% endif %}
{% endblock btn-bottom-right %}

{% block scripts %}
{{ block.super }}
<script>
$('#result').click(function() {
    var panel = $('#result-panel');
    if (panel.is(':hidden')) {
        panel.show();
    } else {
        panel.hide();
    }
})
$('#dismiss-result').click(function() {
    var panel = $('#result-panel');
    panel.hide();
})
$('#refresh').click(function() {
    location.reload();
})
$('#stop-container').click(function() {
    var url = "{% url 'client:stop_container' object.pk %}";
    $.ajax({
        type: "POST",
        url: url,
        data: {
            container_id: "{{ object.pk }}",
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
        },
        success: function(data)
        {
            location.reload();
        }
    });
});
</script>
{% endblock scripts %}
