{% extends 'client/new.html' %}

{% block container %}
<div class="container">
    {% include 'includes/title.html' with text='Python Lend' %}
    <div class="col-lg-10 col-centered">
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-5">
                <div class="well bs-component">
                    <div class="form-group {% if form.title.errors %}has-error{% endif %}">
                        <div class="col-lg-11">
                            {{ form.title }}
                        </div>
                        {% if form.title.errors %}
                        <div class="col-lg-12 error">
                            {{ form.title.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="well bs-component">
                    <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                        <div class="col-lg-12">
                            {{ form.description }}
                        </div>
                        {% if form.description.errors %}
                        <div class="col-lg-12 error">
                            {{ form.description.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="well bs-component">
                    <pre id="editor">{{ form.code.value|default:'# Paste your code here.' }}</pre>
                    <textarea type="text" class="hidden" id="code" name="code"></textarea>
                    {% if form.code.errors %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ form.code.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well bs-component">
                    <div class="form-group {% if form.requirements.errors %}has-error{% endif %}">
                        <div class="col-lg-12 monospaced">
                            {{ form.requirements }}
                        </div>
                        {% if form.requirements.errors %}
                        <div class="col-lg-12 error">
                            {{ form.requirements.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well bs-component">
                    <div class="form-group {% if form.csv_file.errors %}has-error{% endif %}">
                        <div class="col-lg-12 col-centered">
                            <input id="file" class="form-control" disabled placeholder="CSV Data File" type="text" value="{{ form.csv_file.value }}">
                            <label class="btn btn-default btn-raised">
                                Upload <input type="file" style="display: none;" id="csv_file" name="csv_file" value="{{ form.csv_file.value }}">
                            </label>
                            <a href="javascript:void();" id="clear_file" class="pull-right btn btn-default btn-raised">
                                Clear
                            </a>
                        </div>
                        {% if form.csv_file.errors %}
                        <div class="col-lg-12 error">
                            {{ form.csv_file.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <button type="submit" class="hidden" id="submit_hidden"></button>
        </form>
    </div>
</div>
{% endblock container %}

{% block btn-bottom-right %}
{{ block.super }}
{% endblock btn-bottom-right %}
