{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="pull-top-left">
    <a class="btn btn-default btn-fab" href="{% url 'index' %}">
        <i class="material-icons">undo</i>
    </a>
</div>
{% block container %}
<div class="container">
    {% block page-title %}
    {% include 'includes/title.html' with text='Create a New Container' %}
    {% endblock page-title %}
    <div class="col-lg-10 col-centered">
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% block form %}
            <div class="col-lg-5">
                <div class="well bs-component">
                    <div class="form-group {% if form.title.errors %}has-error{% endif %}">
                        <div class="col-lg-11">
                            {{ form.title }}
                        </div>
                        {% if form.title.errors %}
                            <div class="col-lg-12 error">
                                {{ form.title.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="well bs-component">
                    <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                        <div class="col-lg-12">
                            {{ form.description }}
                        </div>
                        {% if form.description.errors %}
                            <div class="col-lg-12 error">
                                {{ form.description.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="well bs-component">
                    <pre id="editor">{% if form.code.value %}{{ form.code.value }}{% else %}{{ initial_comment }}{% endif %}</pre>
                    <textarea type="text" class="hidden" id="code" name="code"></textarea>
                    {% if form.code.errors %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ form.code.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well bs-component">
                    <div class="form-group {% if form.requirements.errors %}has-error{% endif %}">
                        <div class="col-lg-12 monospaced">
                            {{ form.requirements }}
                        </div>
                        {% block req-check %}
                        {% endblock req-check %}
                        {% if form.requirements.errors %}
                            <div class="col-lg-12 error">
                                {{ form.requirements.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well bs-component">
                    <div class="form-group {% if form.csv_file.errors %}has-error{% endif %}">
                        <div class="col-lg-12 col-centered">
                            <input id="id_file" name="file" class="form-control" disabled placeholder="CSV Data File" type="text">
                            <input id="id_saved_file" name="saved_file" class="hidden" type="text" value="{{ form.csv_file.value }}">
                            <label class="btn btn-default btn-raised">
                                Upload <input type="file" style="display: none;" id="id_csv_file" name="csv_file">
                            </label>
                            <a href="javascript:void();" id="clear_file" class="pull-right btn btn-default btn-raised">
                                Clear
                            </a>
                        </div>
                        {% if form.csv_file.errors %}
                            <div class="col-lg-12 error">
                                {{ form.csv_file.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <button type="submit" class="hidden" id="submit_hidden"></button>
            {% endblock form %}
        </form>
        {% block after-form %}
        {% endblock after-form %}
    </div>
</div>
{% endblock container %}
<div class="pull-bottom-right">
    {% block btn-bottom-right %}
    <div class="row">
        <button type="button" class="btn btn-default btn-fab" id="submit">
            <i class="material-icons">send</i>
        </button>
    </div>
    {% endblock btn-bottom-right %}
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'ace-builds/src-min-noconflict/ace.js'%}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'lend/js/ace-config.js'%}" charset="utf-8"></script>
<script>
$('#id_csv_file').change(function() {
    $('#id_saved_file').val($(this).val().replace('C:\\fakepath\\', ''));
    $('#id_file').val($(this).val().replace('C:\\fakepath\\', ''));
});
$('#clear_file').click(function() {
    $('#id_saved_file').val('');
    $('#id_file').val('');
    $('#id_csv_file').val('');
});
$('#submit').click(function() {
    $('#code').val(editor.getValue());
    $('#submit_hidden').click();
});
</script>
{% endblock scripts %}
