{% extends 'base.html' %}

{% load static %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'ace-builds/src-min-noconflict/ace.js'%}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'lend/js/ace-config.js'%}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
<div class="pull-top-left">
    <a class="btn btn-default btn-fab" href="{% url 'index' %}">
        <i class="material-icons">undo</i>
    </a>
</div>
<div class="container">
    {% include 'includes/title.html' with text='Create a New Container' %}
    <div class="col-lg-10 col-centered">
        <form class="form-horizontal">
            {% csrf_token %}
            <div class="col-lg-5">
                <div class="well bs-component">
                    <div class="form-group">
                        <div class="col-lg-11">
                            {{ form.title }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="well bs-component">
                    <div class="form-group">
                        <div class="col-lg-12">
                            {{ form.description }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="well bs-component">
                    <pre id="editor"># Paste your code here.</pre>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well bs-component">
                    <div class="form-group">
                        <div class="col-lg-11 monospaced">
                            {{ form.requirements }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well bs-component">
                    <div class="form-group">
                        <div class="col-lg-11 monospaced">
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="pull-bottom-right">
    <div class="row">
        <a class="btn btn-default btn-fab" href="{% url 'index' %}">
            <i class="material-icons">save</i>
        </a>
    </div>
    <br>
    <div class="row">
        <a class="btn btn-default btn-fab" href="{% url 'index' %}">
            <i class="material-icons">send</i>
        </a>
    </div>
</div>
{% endblock content %}
