{% extends "base.html" %}
{% load static %}

{% block extra_css %}

    <style type="text/css" media="screen">
        #editor {
            width: 1000px;
            height: 500px;
        }
    </style>

{% endblock extra_css %}
{% block content %}

<div class="ui grid">

    <div id="editor"></div>
</div>
<!-- <div class="ui grid"></div> -->
    <script src=" {% static "ace-builds/src-min-noconflict/ace.js" %}" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/python");
            editor.setOptions({
                fontFamily: "Inconsolata, Monaco, Monospace",
                fontSize: "10pt"
            });
        </script>
{% endblock content %}
