{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Page Contents -->
<div class="wrap">

		<header class="main-header">
			<div class="container">
				<h1 class="name"><a href="#">Best Tester online</a></h1>
				<ul class="main-nav">
					<li><a href="#">Login with github</a></li>
				</ul>
			</div>
		</header>

		<div class="container">

			<div class="primary col">
        
			</div><!--/.primary-->

			<div class="secondary col">
				{% include "code_editor.html" %}
			</div><!--/.secondary-->

		</div><!--/.container-->

	</div><!--/.wrap-->

	<footer class="main-footer">
	 <span>&copy;2016 Best Software studio ever!</span>
	</footer>
{% endblock content %}
