{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block extra_css %}


{% endblock extra_css %}
{% block content %}



<div id="container">
    <select style="width: 200px" multiple="multiple" id="sel" placeholder="Choose yours requirements">
      <option></option>
    </select>

    <script type="text/javascript">
            var data = [      
{
id:"00SMALINUX==1.0",
text:"00SMALINUX 1.0"
},

{
id:"01changer==1.0.0",
text:"01changer 1.0.0"
},

{
id:"02exercicio==1.0.0",
text:"02exercicio 1.0.0"

},


{
id:"0805nexter==1.2.0",
text:"0805nexter 1.2.0"
},

{
id:"0x10c-asm==0.0.2",
text:"0x10c-asm 0.0.2"
},

{
id:"1==1.0.0",
text:"1 1.0.0"
},

{
id:"1020-nester==1.00",
text:"1020-nester 1.00"
},

{
id:"115wangpan==0.7.6",
text:"115wangpan 0.7.6"
},

{
id:"131228_pytest_1==1.0.0",
text:"131228_pytest_1 1.0.0"
},

{
id:"1337==1.0.0",
text:"1337 1.0.0"
},

{
id:"17MonIP==0.2.7",
text:"17MonIP 0.2.7"
},

{
id:"18-e==final",
text:"18-e final"
},

{
id:"199Fix==1.1.2",
text:"199Fix 1.1.2"
},

{
id:"1and1==1.0",
text:"1and1 1.0"
},

{
id:"1ee==1.0.0",
text:"1ee 1.0.0"
},

{
id:"1pass==0.2.1",
text:"1pass 0.2.1"
},

{
id:"1to001==0.3.0",
text:"1to001 0.3.0"
}
];

            $("#sel").select2({
                  placeholder: 'Choose yours requirements...',
                  allowClear: true,
                  minimumInputLength: 0,
                  multiple: true,   
                  data: data
            })

            
     </script>
</div>

{% endblock content %}

{% block extra_js %}


{% endblock extra_js %}
