{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% include 'includes/title.html' %}
    <div class="well bs-component col-lg-5 text-center col-centered" style="color:#272822;">
                To start, please login/signup here:
                <br>
                <a href="{% url 'github_login' %}" class="btn btn-default btn-raised btn-lg">
                    <i class="fa fa-github"></i> Login with GitHub
                </a>
    </div>
</div>
{% endblock content %}
